:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: #ffffff;
}

pre {
    border: unset;
    background-color: #ffffff;
    font-size: inherit;
    color: #000000;
}

.footer {
    padding-bottom: 60px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: unset;
}

.container {
    max-width: 800px;
}

.collection-td-date {
    text-align: right;
}

.form-control::-moz-placeholder {
    color: #000000;
}

.thumbnail {
    -webkit-box-shadow: unset;
    box-shadow: unset;
    border: unset;
}

.page-header {
    padding-bottom: 9px;
    margin: 0px 0 20px;
    border-bottom: unset;
}

.form-control {
    background-color: #f9f9f9;
    border: unset;
    border-radius: unset;
    box-shadow: unset;
    -webkit-transition: unset;
}

#show-comments {
    margin-top: 40px;
}
